body {
    font-family: Arial, sans-serif;
    background: url("/Frontend/img/img.jpeg");
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    align-content: center;
    width: 90%;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}

.task {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.task button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.task button:hover {
    background-color: #c82333;
}

#task-name{
    margin-top: 20px;
    width: 98%;
}
#task-status{
    margin-top: 20px;
    width: 100%;
}
#task-category{
    margin-top: 20px;
    width: 98%;
}
#task-priority{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
#task-date{
    margin-top: 10px;
    margin-bottom: 40px;
}
#status-filter{
    margin-top: 20px;
    margin-bottom: 10px;
}
#task-description{
    margin-top: 20px;
    width: 98%;
}